.header-anchor{
  display:none;
}
img {
  width: 100%;
}
blockquote {
  padding: 0.1em 1em;
  border-left: 5px solid color-primary;
}
#main-content ul{
  padding-left:1.5em;
  li {
    margin-top:0.5em;
  }
}