@import '~src/theme/variables';

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.rotating-logo {
  animation: spin 2s infinite linear;
}

.page-transition-out-start,.page-transition-out-end {
  position:absolute;
  left:0px;
  top:0px;
}
.page-transition-out-start > *,.page-transition-in-end > * {
  opacity:1;
}
.page-transition-out-end > * , .page-transition-in-start > *{
  opacity:0;
}

.loaderPage {
  width: 100%;
  height: calc(100vh - #{$footer-height});
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 15vw;
    height: 15vw;
  }
}