@import './layout.scss';
@import '~src/theme/variables';
@import '~src/core/responsive';

body {
  font-family: "Lato", "Helvetica","Arial";
  margin:0;
}

a {
  text-decoration: none;
  color:inherit;
}

.link-primary, .link-secondary, .link-tertiary {
  transition: color 0.3s ease-in-out;
}
.link-primary:hover {
  color:$color-primary;
}
.link-secondary:hover {
  color:$color-two;
}
.link-tertiary:hover {
  color:$color-three;
}
.subline-date {
  margin-bottom: -1.5em;
  opacity: 0.4;
  font-size: 12px;
}