$title-width: 200px;
$avatar-width: 75px;
$avatar-height: 85px;
#page-index {
    .menu {

        .title {
            text-align:center;
            width:$title-width;
            display:block;
            transform:translateX(50vw) translateX(- $title-width/2);
        }

    }

}
