@import '~src/theme/variables';
@import '~src/core/responsive';

.menu {
  z-index:10;
  .logo {
    width:100%;
    margin:5px;

    a {
      display: block;
    }
    h1 {
      margin: 4px 0px 0px 0px;
      overflow:hidden;
    }
    svg {
      width:100%;

      .text {
        pointer-events: none;
        transition: transform 0.4s ease-in-out;

      }
    }

  }
  nav {
    display:block;
    margin-left:50px;

    ul {
      list-style: none;
      margin:0;
      padding: 0;
    }

    .nav-item {
      display:block;
      margin-bottom:5px;
      font-weight: bold;
    }
    @include respond-to(phones) {display:none}
  }
  .nav-item {
    transition: color 0.3s ease-in-out;
  }
  .nav-color-primary:hover,.nav-color-primary.selected{
    color:$color-primary;
  }
  .nav-color-two:hover,.nav-color-two.selected {
    color:$color-two;
  }
  .nav-color-three:hover,.nav-color-three.selected{
    color:$color-three;
  }

  &.full-screen {
    width:100%;
    position: absolute;

    .logo {
      width:50vw;
      @include respond-to(phones) {width:100%}

      margin:50px auto auto auto;

      svg .text {
        @include respond-to(phones) {
          transform: translateY(0);
        }
      }
    }
    nav {
      display:none;
    }
  }
  &:not(.full-screen) .logo{
    @include respond-to(phones) {
      svg {
        height:42px;
        width: auto;
        .text {
          transform: scale(0.3) translate(1000px,1800px);;
        }
      }
    }
  }
  &.fullscreen-tran-finished {
    @include respond-to(phones) {
      a {
        width: 48px;
        height: 42px;
        overflow: hidden;
      }
    }
  }
}