@import 'fonts.css';
@import '~normalize.css';
$footer-height:200px;

body {
  font-family: "Lato", "Helvetica","Arial";
  margin:0;
}
.menu {
  position: fixed;
  width:180px;
  margin-right:20px;
  left:0;
  top: 0;
}
#main-content {
  min-height: calc(100vh - #{$footer-height});
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
.container {
  margin-left: 200px;
  width:700px;
}

a {
  text-decoration: none;
  color:inherit;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.rotating-logo {
  animation: spin 2s infinite linear;
}

.page-transition-out-start,.page-transition-out-end {
  position:absolute;
  left:0px;
  top:0px;
}
.page-transition-out-start > *,.page-transition-in-end > * {
  opacity:1;
}
.page-transition-out-end > * , .page-transition-in-start > *{
  opacity:0;
}